# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Dependencies
node_modules/
venv/
__pycache__/

# Build output
dist/
dist-ssr/
build/
*.local

# Logs
*.log
